[submodule "client-sdk-rust"]
	path = client-sdk-rust
	url = https://github.com/John-Shao/livekit-sdk-rust.git
[submodule "cpp-example-collection"]
	path = cpp-example-collection
	url = https://github.com/livekit-examples/cpp-example-collection.git
